.container {

}

.Select-clear {
    display: inline-block;
    font-size: 1px;
    line-height: 1;
}

/* .div-graph {
  display: none;
}

#content-row-3{
  display:none
} */

.row2-buttons {
  width: 25%
  display:inline-block;

}

.button{
width:200px;
border-left: 2px white solid;
border-right: 2px white solid;
border-radius: 3px;
}

.dropdown {
  width: 175px;
  text-align: center;
}
#r2-col-1 {
  text-align: right;
}

#div-row-2-2 {
    display: inline-flex;
}

.custom-control-label.btn.btn-secondary.active {

    font-weight: bold;
}

  .container {
    background-color: bisque;
}

 .fa-info-circle {
    content: "\f05a";
    color: #96dbfa;
    padding-left: 5px;
    padding-top: 17px;
    display: inline-block;
}

.col-info {
  height:
  padding: 3px 0 9px 0;
  text-align: right;
  height: 7px;
}

.div-col-range-slider {
    padding-top: 29px;
}


.pop-info {

max-width: 150%

}

.div-row-5, .div-row-4,.div-row-3, .div-row-2, .div-row-2-a, .div-row-1 {
    background-color: white;
    padding: 17px 45px 17px 45px;
    border: 1px gray solid;
    border-radius: 7px;
    text-align: : center;
}

.div-row-x-content {
    background-color: white;
    padding-left: 9px;
    padding-right: 25px;
    padding-top: 9px;
    padding-bottom: 17px;
    text-align: : center;

    border: 1px gray solid; /*for ident only*/
}

.slider-label {
    text-align: left;
}

#graph {
    padding-top: 6px;
    padding-bottom: 0px;
}

  .div-row-5 {
      background-color: white;
      border: 1px gray solid;
      border-radius: 7px;
  }

  .col-1 {
      /* padding-top: 70px; */
    padding-left:0px;
    display: inline-block;
  }

  .r2-col-content {
    text-align: center;
    padding-top: 15px;
    padding-right:0px;
    padding: 15px 0 0 15px;
  }

  .col-content {
    text-align: center;
    padding-top: 15px;
  }

  .div-range-slider {
      height: 100%;
      /* padding-left: 25px; */
      padding-top: 46px;
      width: 99%;
      display:inline-block;
      /* background-color: #fff; */
  }

  .rc-slider-mark-text-active {
      color: #adafae; /*#999; */
  }

  .rc-slider-mark-text {
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      color: #fff;
      font-size: 11px;
  }

.range-slider {
  paddingTop:50px;
  paddingLeft:9px;
  height:277px;
  marginTop:50px;
  width:2px;
  display:inline-block;
  }

.div-time-sliders {
  border: 1px gray solid;
  border-radius: 7px;
  padding: 13px 5px 10px 11px;
  width: 100%;
  display: inline-block;
  align-content: center;
  background-color: #555;/*red;*/
  }

  .day-slider, .hour-slider {
  align-content: center;
  padding: 0px 25px 43px 23px;
  /* margin-top:5px */
  }

  .form-group {
    margin-bottom: 1rem;
    width: 190px;
    color: #555;
  }

  .Select.is-focused:not(.is-open) > .Select-control {
      border-color: #007eff;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px rgba(0, 126, 255, 0.1);
      background: #555;
  }
  .Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
      color: #fff;
  }


  .Select .Select-control {
    background-color: #555; /*#424242; /*red; /*#fff;*/
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #fff; /*#333;*/
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 36px;
    overflow: hidden;
  }

/* Turn off existing buttons */
.radio-group .custom-control-input ~ .custom-control-label::before {
  content: none;
}

.radio-group .custom-radio .custom-control-input ~ .custom-control-label::after {
  content: none;
}

.radio-group .btn-group > .custom-control:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .custom-control:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.radio-group .custom-control {
    padding-left: 2px;
    padding-right: 2px;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;
    width: 57px;
}


.dash-spreadsheet-container.dash-spreadsheet.dash-empty-01.dash-fill-width {
    width: 92%;
}

table {
    color: #555;
}

.div-label {
    padding: 2px 11px 1px 12px;
    font-size: 14px;
    color: #fff;
    border: 1px #adafae solid;
    border-radius: 5px;
    text-align: center;
}

#div-title-label{
    background-color: #555;
    padding: 3;
    padding-left: 3;
    font-size: 24px
}

#div-data-label, #div-calc-label,#div-content-label {
    background-color: #555;
    padding: 3;
    padding-left: 3;
}
